.sidebar__inner {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media (min-width: 1200px) {
    .sidebar__inner {
        height: 100vh;
    }
}

.content__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 75px;
    color: black;
}

canvas {
    cursor: pointer;
}