.intro-content{
    min-height: calc(100vh - 48px);
    background-color: #ffffff;
    border-radius: 12px;
}


@media (max-width: 991.98px) {
    .intro-text {
        font-size: 32px !important;
    }
}


.intro-logo{
    padding: 80px
}

.intro-logo a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
}
.intro-text {
    padding: 80px;
}
.intro-text p{
    font-size: 40px;
    font-weight: 500;
    max-width: 1000px;
}

.social-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.work-content {
    margin-top: 60px;
    margin-bottom: 200px;
    min-height: calc(100vh - 48px);
}

.openheavens-card {
    max-width: 480px;
    border: 0;
    background: transparent;
}

.linear-algebra-card {
    max-width: 480px;
    margin-top: 160px;
    border: 0;
    background: transparent;
}

.contact-form {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    font-size: 24px;
    letter-spacing: 1px;
}

.contact-title {
    padding-left: 120px;
    padding-right: 120px;
    font-size: 24px;
    letter-spacing: 1px
}

.contact-content {
    margin-top: 60px;
    min-height: calc(100vh - 48px);
    background-color: #F1E4E8;
    border-radius: 12px;
}

@media (max-width: 767.98px) {

    .main-content {
        padding: 0 !important;
    }

    .intro-text {
        padding: 0 12px;
    }
    .intro-text p{
        font-size: 24px !important;
    }
    .intro-logo{
        padding-left: 12px;
        padding-right: 12px;
    }

    .intro-content{
        min-height: 0;
        padding-bottom: 80px;
    }

    .work-content {
        margin-bottom: 0 !important;
    }

    .card-text {
        font-size: 20px !important;
    }

    .linear-algebra-card {
        margin-top: 0;
    }

    .contact-form {
        padding: 0 !important;
        padding-bottom: 24px !important;
    }


    .contact-title {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.contact-form-input {
    border: 0;
    margin: 0 0 .75rem;
    padding: 0;
    height: auto;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
    letter-spacing: 1px;
}

.contact-form-input:focus {
    box-shadow: none;
    color: #212529;
}

.contact-form-input::placeholder{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline;
}
.contact-form-input::-ms-input-placeholder{}
.contact-form-input:-ms-input-placeholder{}

.card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
}

@media (max-width: 991.98px) {
    .card-columns {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}