.intro-content{
    min-height: calc(100vh - 48px);
    background-color: #ffffff;
    border-radius: 12px;
}

.contact-form {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    font-size: 24px;
    letter-spacing: 1px;
}

.contact-title {
    padding-left: 120px;
    padding-right: 120px;
    font-size: 24px;
    letter-spacing: 1px
}

.social-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

@media (max-width: 991.98px) {
    .intro-text {
        font-size: 32px !important;
    }
}

@media (max-width: 767.98px) {
    .intro-text {
        font-size: 24px !important;
    }

    .contact-form {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 60px !important;
    }

    .contact-title {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.contact-form-input {
    border: 0;
    margin: 0 0 .75rem;
    padding: 0;
    height: auto;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
    letter-spacing: 1px;
}

.contact-form-input:focus {
    box-shadow: none;
    color: #212529;
}

.contact-form-input::placeholder{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline;
}
.contact-form-input::-ms-input-placeholder{}
.contact-form-input:-ms-input-placeholder{}

.card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
}

@media (max-width: 991.98px) {
    .card-columns {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}